<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<typeAliases>
		<typeAlias alias="Event" type="gmail.contract.dto.EventDto"/>
		<typeAlias alias="Location" type="gmail.contract.dto.LocationDto"/>
		<typeAlias alias="PointAddress" type="gmail.contract.dto.PointAddressDto"/>
		<typeAlias alias="User" type="gmail.contract.dto.UserDto"/>
		<typeAlias alias="Role" type="gmail.contract.dto.RoleDto"/>
	</typeAliases>
</configuration>