<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016 Hieu Nguyen alright reserve
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gmail.contract.dao.EventMapper">
	<sql id="searchCondition">
		<if test="searchCondition.eventTitle != ''">
			AND e.eventTitle LIKE '%'||#{searchCondition.eventTitle}||'%'
		</if>
		<if test="searchCondition.eventLocation > 0">
			AND e.eventLocationId = #{searchCondition.eventLocation}
		</if>
		<if test="searchCondition.eventAddress > 0">
			AND e.eventAddressId = #{searchCondition.eventAddress}
		</if>
		<if test="searchCondition.eventStartDate != ''">
			AND e.eventStartDate <![CDATA[ >= ]]> #{searchCondition.eventStartDate}
		</if>
		<if test="searchCondition.eventEndDate != ''">
			AND e.eventEndDate <![CDATA[ <= ]]> #{searchCondition.eventEndDate}
		</if>
	</sql>

	<insert id="insertEvent" parameterType="Event" useGeneratedKeys="true" keyProperty="dtoEvent.eventId">
		INSERT INTO `event`
		(
			`eventTitle`,
			`eventDescription`,
			`eventDetail`,
			`eventStartDate`,
			`eventEndDate`,
			`eventLocation`,
			`eventAddress`,
			`createdDate`,
			`lastUpdate`)
		VALUES
			(#{dtoEvent.eventTitle},
			 #{dtoEvent.eventDescription},
			 #{dtoEvent.eventDetail},
			 #{dtoEvent.eventStartDate},
			 #{dtoEvent.eventEndDate},
			 #{dtoEvent.eventLocation},
			 #{dtoEvent.eventAddress},
			 #{dtoEvent.createdDate},
			 #{dtoEvent.lastUpdate});
	</insert>

	<select id="findEventById" resultType="Event" parameterType="long">
		SELECT *
		FROM event e
		WHERE e.eventId = #{eventId};
	</select>

	<select id="getYearHaveEvent" resultType="String">
		SELECT YEAR(e.eventStartDate) AS year
		FROM
			event e
		WHERE 1
		<if test="searchCondition != null">
			<bind name="searchCondition" value="searchCondition"/>
			<include refid="searchCondition"/>
		</if>
		GROUP BY YEAR(e.eventStartDate) DESC
	</select>

	<select id="getMonthsHaveEventByYear" resultType="String" parameterType="String">
		SELECT MONTH(e.eventStartDate) AS month
		FROM
			event e
		WHERE YEAR(e.eventStartDate) = #{year} AND 1
		<if test="searchCondition != null">
			<bind name="searchCondition" value="searchCondition"/>
			<include refid="searchCondition"/>
		</if>
		GROUP BY MONTH(e.eventStartDate) DESC;
	</select>

	<select id="getEventsByYearMonth" resultType="Event" parameterType="String">
		SELECT e.*
		FROM
			event e
		WHERE YEAR(e.eventStartDate) = #{year} AND MONTH(e.eventStartDate) = #{month} AND 1
		AND 1
		<if test="searchCondition != null">
			<bind name="searchCondition" value="searchCondition"/>
			<include refid="searchCondition"/>
		</if>
	</select>
</mapper>