<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016 Hieu Nguyen alright reserve
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gmail.contract.dao.PointAddressMapper">
	<select id="getPointers" resultType="PointAddress" parameterType="long">
		SELECT pa.*
		FROM
		`pointaddress` pa
		<if test="locationId > 0">WHERE `locationId` = #{locationId};</if>
		<if test="locationId == 0">;</if>

	</select>
</mapper>